%h1 Edit paragraph
%p
  To insert a reference, add an exclamation mark before the paragraph number: !4.2
= form_for [@document, @paragraph] do |f|
  = render :partial => 'form', :locals => {:f => f}
%p
  = link_to "Cancel and go back.", document_path(@document)
