%h1= @document.title
%ol
  - @document.top_level_paragraphs.each do |paragraph|
    = render :partial => 'paragraphs/paragraph', :object => paragraph

%p
  = link_to "Edit this document", edit_document_path(:id => @document)
  = link_to "Back to documents list.", documents_path